<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head><script>
document.addEventListener("DOMContentLoaded", function(){
   let lista = document.querySelector('.lista');
   let campo = document.querySelector('.campo');
   let li;

   lista.addEventListener('click',function(event){
       li = event.target;
       if(li.tagName == "LI"){
          campo.value = li.textContent;
       }
   });

   campo.addEventListener('keypress',function(event){
     if(event.keyCode === 13 && li) {
         li.textContent = campo.value;
         campo.value = '';
         li = null;
     };
   });
});
</script>
<body>
<div class="jumbotron">
  <h1 class="display-4">Bem-vindo!</h1>
  <p class="lead">Esse site armazena links e permite o gerenciamento dos links armanedos, tanto manualmente como automáticos.</p>
  <hr class="my-4">
  <p>Para visualizar e gerenciar seus links clique no botão abaixo:</p>
  <a class="btn btn-dark" href="http://127.0.0.1:5000/links" role="button">Meus links</a>
</div>
</body>
</html>
