<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meuslinks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <div class="py-5 text-center">
        <h2>MEUS LINKS</h2>
        <p class="lead">Abaixo temos os links cadastrados e um formulário para INSERIR links novos</p>
      </div>
        <a class="btn btn-dark" href="http://127.0.0.1:5000/" role="button">Página Inicial</a>
        <p></p>
<ul class="lista">
    <h4 class="mb-3">Lista de links</h4>

  <li class="list-group-item" ></li>
  <li class="list-group-item list-group-item-primary"></li>
  <li class="list-group-item list-group-item-secondary"></li>
  <li class="list-group-item list-group-item-success"></li>
  <li class="list-group-item list-group-item-danger"></li>
  <li class="list-group-item list-group-item-warning"></li>
  <li class="list-group-item list-group-item-info"></li>
  <li class="list-group-item list-group-item-light"></li>
  <li class="list-group-item list-group-item-dark"></li>

      <form class="card p-2">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Adicionar Link</h4>
          <form class="lista" novalidate>
            <div class="lista">
              <div class="lista">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" placeholder="" value="{{ titulo }}" required>
              </div>
              <div class="lista">
                <label for="link">Link</label>
                <input type="text" class="form-control" id="link" placeholder="" value="{{ link }}" required>
                  <hr class="lista">
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="{{ lista }}">Salvar</button>
          </form>
        </div>
      </div>
    </ul>
    <p></p>
</body>
</html>
